{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Contact us</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row contact-us">
            <div class="col-md-4 west-ivy-logo">
                <img src="{{ MEDIA_URL }}contactus.png" alt="logo" class="img-thumbnail border-0">
            </div>
            <div class="col-md-4">
                <p>Whether you'd like to place an order or need some advice, our Soho Support team are always on hand to help with any enquiries you might have.</p>
                <p>We're currently experiencing a high volume of enquiries and responses are taking longer than usual. Please be assured that we're working as quickly as we can to get back to you.
                <p>Monday-Friday: 8am-8pm (GMT)</p>
            </div>
            <div class="col-md-2">
                <p><i class="fas fa-address-card"></i> Address:</p>
                <p>
                135 Union Terrace<br>
                London<br>
                SWE E540<br>
                United Kingdom</p>
            </div>
            <div class="col-md-2">
                <p><i class="fas fa-phone-alt"></i> Telephone:</p>
                <p>+44 000 000 000</p>
            </div>
        </div>
    </div>
{% endblock %}