{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4  text-white">
                    Cosy interiors
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                    <div>
                        <img src="{{ MEDIA_URL }}beauty_spa.jpeg" alt="Description" class="img-thumbnail">
                        <a href="{% url 'products' %}?category=beauty_spa" class="home-button btn rounded-0 text-uppercase py-3">Beatuy & Spa</a>
                    </div>
                </a>
            </div>
            <div class="col">
                    <div>
                        <img src="{{ MEDIA_URL }}home_decor.jpeg" alt="Description" class="img-thumbnail">
                        <a href="{% url 'products' %}?category=home_decor" class="home-button btn rounded-0 text-uppercase py-3">Home Decor</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <div>
                        <img src="{{ MEDIA_URL }}kitchen_tableware.jpeg" alt="Description" class="img-thumbnail">
                        <a href="{% url 'products' %}?category=kitchen_tableware" class="home-button btn rounded-0 text-uppercase py-3">Kitchen & Tableware</a>
                    </div>
                </a>
            </div>
            <div class="col">
                    <div>
                        <img src="{{ MEDIA_URL }}lighting.jpeg" alt="Description" class="img-thumbnail">
                        <a href="{% url 'products' %}?category=beauty_spa" class="home-button btn rounded-0 text-uppercase py-3">Lighting</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <h3>Our bestsellers</h3>
            <div class="col">
                <a href="{% url 'product_detail' 12 %}" class="text-decoration-none text-dark">
                    <div>
                        <img src="{{ MEDIA_URL }}champagne.jpeg" alt="Champange Glasses" class="img-thumbnail">
                        <a href="{% url 'products' %}" class="home-button btn rounded-0 text-uppercase py-3">Champange Glasses</a>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'product_detail' 9 %}" class="text-decoration-none text-dark">
                    <div>
                        <img src="{{ MEDIA_URL }}candle2.jpeg" alt="Vanilla Scented Candle" class="img-thumbnail">
                        <a href="{% url 'products' %}" class="home-button btn rounded-0 text-uppercase py-3">Vanilla Scented Candle</a>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'product_detail' 20 %}" class="text-decoration-none text-dark">
                    <div>
                        <img src="{{ MEDIA_URL }}face-towels.jpeg" alt="Face Towels" class="img-thumbnail">
                        <a href="{% url 'products' %}" class="home-button btn rounded-0 text-uppercase py-3">Face Towels</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}