{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Lighting Guide</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ MEDIA_URL }}inspolight.jpeg" alt="Lighting" class="img-thumbnail">
                <a href="{% url 'products' %}?category=lighting" class="home-button btn rounded-0 text-uppercase py-3">Shop Lighting</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{ MEDIA_URL }}inspolight1.jpeg" alt="Lighting" class="img-thumbnail">
            </div>
            <div class="col-sm-12 col-md-6 text-black">
                <h3 class="text-center">Entertain under vintage-style chandeliers or pendants to an intimate tone for dining.</h4>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{ MEDIA_URL }}inspolight2.jpeg" alt="Lighting" class="img-thumbnail">
            </div>
            <div class="col-sm-12 col-md-6 text-black">
                <h3 class="text-center">The lampshade will affect the hue of the light. Neutral tones in a material like linen are great for keeping lighting soft.</h4>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{ MEDIA_URL }}inspolight3.jpeg" alt="Lighting" class="img-thumbnail">
            </div>
            <div class="col-sm-12 col-md-6 text-black">
                <h3 class="text-center">Mimic the sleeping spaces in our Houses with matching table lamps positioned on either side of the bed.</h4>
            </div>
        </div>
    </div>
{% endblock %}