<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-6 col-md-2">
                <a href="https://www.instagram.com" target="_blank" class="text-dark text-black text-decoration-none mx-2">Instagram
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="https://www.facebook.com" target="_blank" class="text-dark text-black text-decoration-none mx-2">Facebook
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <div class="col-md-4">
                <h1 class="text-uppercase fs-3 fw-bolder mx-2">West Ivy</h1>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="https://www.twitter.com/" target="_blank" class="text-dark text-black text-decoration-none mx-2">Twitter
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="{% url 'profile' %}" class="text-black text-decoration-none text-dark mx-2">My Profile
                    <i class="fas fa-user-circle"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
