<footer>
    <div class="container">
        <div class="row p-3 d-flex flex-sm-column flex-md-column flex-lg-row w-100 text-black" id="footer-content">
            <div class="col-lg-4 col-sm-12">
                <h1 class="text-uppercase fs-3 fw-bolder mx-2">West Ivy</h1>
                <a href="https://www.instagram.com" target="_blank" class="text-dark text-decoration-none mx-2">
                    <i class="la-2x lab la-instagram"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank" class="text-dark text-decoration-none mx-2">
                    <i class="la-2x lab la-facebook-square"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank" class="text-dark text-decoration-none mx-2">
                    <i class="la-2x lab la-twitter-square"></i>
                </a>
            </div>
            <div class="col-lg-8 col-sm-6 text-uppercase d-flex flex-sm-row my-3 pe-5">
                <div class="col-sm-12 col-lg-6 d-flex flex-column pe-5">
                   <a href="#" class="text-decoration-none text-dark">Add link</a>
                    <a href="#" class="text-decoration-none text-dark">Add link</a>
                </div>
                <div class="col-sm-12 col-lg-6 d-flex flex-column">
                    <a href="#" class="text-decoration-none text-dark">Add link</a>
                    <a href="#" class="text-decoration-none text-dark">Add link</a>
                </div>
            </div>
        </div>
    </div>
</footer>