<div class="collapse navbar-collapse" id="main-nav">
    <a class="navbar-brand" href="#"></a>
    <ul class="navbar-nav mb-2 mb-lg-0 w-auto mx-auto">
        <li class="nav-item ">
            <div class="nav-item">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    Home
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?category=beauty_spa" class="dropdown-item">Beauty & Spa</a>
                <a href="{% url 'products' %}?category=home_decor" class="dropdown-item">Home Decor</a>
                <a href="{% url 'products' %}?category=kitchen_tableware" class="dropdown-item">Kitchen &
                    Tableware</a>
                <a href="{% url 'products' %}?category=Lighting" class="dropdown-item">Lighting</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="inspiration-link" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Inspiration
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="inspiration-link">
                <a href="{% url 'dining_inspiration' %}" class="dropdown-item">Dining</a>
                <a href="{% url 'lighting_inspiration' %}" class="dropdown-item">Lighting</a>
                <a href="{% url 'home_decor_inspiration' %}" class="dropdown-item">Home Decor</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="west-ivy-link" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                West Ivy
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="west-ivy-link">
                <a href="{% url 'our_story' %}" class="dropdown-item">Our Story</a>
                <a href="{% url 'contact_us' %}" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>

