{% extends "base.html" %}
{% load static %}

{% block title %}404 Not found{% endblock %}

{% block content %}
    <div class="flex-wrapper">
        <div class="container">
            <div class="h1-header center-align">
                <h1><i class="fas fa-frown"></i></h1>
                <h3>404 Not found error page</h3>
            </div>
            <section>
                <h5 class="center-align">An error has occurred</h5>
            </section>
        </div>
    </div>

{% endblock %}