{% extends "base.html" %}
{% load static %}

{% block extra_title %}500 Error{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container text-center error-pages">
        <h1><i class="fas fa-frown"></i></h1>
        <h4>Sorry, an error has occurred</h4>
        <div class="pb-4 pt-2"><a href="{% url 'products' %}" class="btn btn-lg btn-dark text-uppercase hvr-skew-backward">
            <i class="las la-angle-left"></i>Back to products</a>
        </div>
    </div>
{% endblock %}